body {
	display: unset;
    font-family: var(--default-font);
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    color-scheme: var(--tg-color-scheme);
    margin: 0;
    padding: 0;
    width: 1px;
    min-width: 100%;
  
    --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --block-bg-color: var(--tg-theme-bg-color);
    --bg-color: var(--tg-theme-secondary-bg-color, #ebedf0);
    --animation: .15s ease;
    --page-animation-duration: .3s;
    --page-animation: var(--page-animation-duration) ease;
    --status-height: 48px;
    --accent-color: #31b545;
    --page-hint-color: #83878a;
    --hint-color: #74787a;
    --placeholder-color: #999da1;
    --ripple-duration: .45s;
    --ripple-end-duration: .3s;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    
  }
  .center1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .center2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
  .cafe-items {
    flex-wrap: wrap;
	  padding: 20px;
    margin: 0 auto;
    max-width: 480px;
    justify-content: space-around;
    align-content: flex-end;
    transition: max-height var(--page-animation), opacity var(--page-animation);
    background-color: var(--block-bg-color);
}
.checkbox-btn {
	display: inline-block;
	margin: 0 5px 0 0;
	user-select: none;
	position: relative;
}
.checkbox-btn input[type=checkbox] {
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.checkbox-btn span {
	display: inline-block;
	cursor: pointer;
	padding: 0px 10px;
	line-height: 30px;
    font-weight: 500;
	border-radius: 10px;
	transition: background 0.2s ease;
}
 

.checkbox-btn input[type=checkbox]:checked + span {
	background: #00ff99;
    color: var(--tg-theme-button-text-color);
}
.checkbox-btn input[type=checkbox]:not(:checked) + span {
	background: var(--tg-theme-secondary-bg-color) /*#e64d44;*/
    color: var(--tg-theme-button-text-color);

} 
